twisted>=20.3.0
syslog_rfc5424_parser==0.3.1
pygtail==0.10.1
keyring==19.0.1
tinydb==3.13.0
pysectools==0.5.1
requests==2.31.0
urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability
